{% verbatim %}
<script id="pages-home-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="unit span-grid">
      <div class="box-edit box grid-icon" data-box-name="Gallery" data-box-id="69"><a>Background</a></div>
    </div>
    <div class="unit span-grid">
      <div class="callout-edit box text-icon short" data-callout-name="alert"><a>Alert Text</a></div>
	</div>
  </div>
</div>
</script>

<script id="pages-about-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="unit span-grid">
      <div class="callout-edit box flag-icon" data-callout-name="about"><a>Image and Title</a></div>
	</div>
    <div class="unit one-of-two">
      <div class="callout-edit box text-icon" data-callout-name="about-column-1"><a>Column1</a></div>
	</div>
    <div class="unit one-of-two">
      <div class="callout-edit box text-icon" data-callout-name="about-column-2"><a>Column2</a></div>
	</div>
    <div class="unit span-grid">
        <div class="box grid-icon external-link"><a href="/bentobox/staff/">The Team<span>Jumps to Boxes to Edit</span></a></div>
	</div>
  </div>
</div>
</script>

<script id="pages-menus-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="unit span-grid">
      <div class="callout-edit box flag-icon" data-callout-name="menus"><a>Image and Title</a></div>
	</div>
    <div class="unit span-grid">
        <div class="box grid-icon external-link"><a href="/bentobox/menus/">Menus<span>Jumps to Boxes to Edit</span></a></div>
	</div>
  </div>
</div>
</script>

<script id="pages-lobby-bar-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="unit span-grid">
      <div class="callout-edit box flag-icon" data-callout-name="lobby-bar"><a>Image and Title</a></div>
	</div>
    <div class="unit one-of-two">
      <div class="callout-edit box text-icon" data-callout-name="lobby-bar-column-1"><a>Column1</a></div>
	</div>
    <div class="unit one-of-two">
      <div class="callout-edit box text-icon" data-callout-name="lobby-bar-column-2"><a>Column2</a></div>
	</div>
  </div>
</div>
</script>

<script id="pages-private-events-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="unit span-grid">
      <div class="callout-edit box flag-icon" data-callout-name="private-events"><a>Image and Title</a></div>
	</div>
    <div class="unit one-of-two">
      <div class="callout-edit box text-icon" data-callout-name="private-events-column-1"><a>Column1</a></div>
	</div>
    <div class="unit one-of-two">
      <div class="callout-edit box text-icon" data-callout-name="private-events-column-2"><a>Column2</a></div>
	</div>
    <div class="unit span-grid">
    	<div class="locked box"><a>Form</a></div>
	</div>
  </div>
</div>
</script>

<script id="pages-press-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="unit span-grid">
      <div class="callout-edit box flag-icon" data-callout-name="press"><a>Image and Title</a></div>
	</div>
    <div class="unit span-grid">
        <div class="box grid-icon external-link"><a href="/bentobox/press/">Press<span>Jumps to Boxes to Edit</span></a></div>
	</div>
  </div>
</div>
</script>

<script id="pages-location-contact-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="unit span-grid">
      <div class="callout-edit box flag-icon" data-callout-name="locationcontact"><a>Image and Title</a></div>
	</div>
    <div class="unit span-grid">
      <div class="box-edit box grid-icon" data-box-name="Location" data-box-id="47"><a>Location and Hours</a></div>
    </div>
    <div class="unit span-grid">
    	<div class="locked box"><a>Contact Form</a></div>
	</div>
  </div>
</div>
</script>

{% endverbatim %}